/* VehicleEntryDetails.css */
/* .home-sidebar.expanded + .VehicleEntryDetailsMainContent {
    margin-left: 220px;
  } */
 
/* Initial state */
.VehicleEntryDetailsMainContent {
  transition: margin-left 0.3s ease; /* Adjust timing and easing as needed */
}
 
/* Expanded state */
.home-sidebar.expanded + .VehicleEntryDetailsMainContent {
  margin-left: 220px;
}
 
.VehicleEntryDetailsMainContent {
  margin-left: 100px;
}
 
.form-label {
  font-weight: 450;
}
 
/* Add this rule to make the camera table border less bold */
.camview td {
  /* border: 1px solid; */
  border-radius: 5px;
}
.table {
  margin: 20px 0px 0px 0px;
}
 
/* button for scannar image */
.button {
  border: 1px solid;
  border-radius: 5px;
  /* border-color: transparent !important;  */
}
 
/* table- btn for camera Image capture*/
.table-btn {
  background-color: transparent !important;
  border-color: transparent !important;
}
 
.btn-save {
  width: 120px; /* Adjust the width as needed */
}
 
.btn-clear {
  width: 120px; /* Adjust the width as needed */
}
 
/* Swal Modal size decrease */
 
.my-popup-class {
  width: 400px; /* Adjust the width as needed */
  max-width: calc(100% - 20px); /* Maximum width */
}
 
.my-title-class {
  /* Custom styles for the title */
  /* width:10px; */
  max-width: calc(100% - 20px);
  font-size: 20px;
}
 
.my-content-class {
  /* Custom styles for the content */
  width: 10px;
}
 