.right-div {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
}

.right-div button {
  padding: 5px;
  margin: 5px;
}

/* Existing styles... */

.home-sidebar {
  transition: margin-left 0.3s ease; /* Adjust duration and easing as needed */
}

.home-sidebar.expanded + .quality-detail-check-main-content {
  margin-left: 180px;
}

/* Improved Typography */
/* body {
  font-family: 'Arial', sans-serif;
  color: #333;
 }
 
 h1, h2, h3, h4, h5, h6 {
  color: #222;
 } */
 
/* Responsive Design */
@media (max-width: 768px) {
  .quality-detail-check-main-content {
    padding: 10px;
  }
}
 
/* Interactive Elements */
.button-transition:hover {
  transform: scale(1.05);
  background-color: #007bff; /* Updated hover color */
}
 
/* High-Quality Images */
.img-transition {
  transition: transform 0.3s ease-in-out;
  max-width: 100%; /* Ensure images are responsive */
}
 
/* Accessibility */
a:focus {
  outline: 2px solid #007bff; /* Clear focus outline */
}
 
/* Base styles for mobile devices */
.quality-detail-check-main-content {
  padding: 10px;
}
 
/* Styles for tablets and larger devices */
@media screen and (min-width: 768px) {
  .quality-detail-check-main-content {
    padding: 20px;
  }
}
 
/* Styles for laptops and desktops */
@media screen and (min-width: 1024px) {
  .quality-detail-check-main-content {
    padding: 30px;
  }
}

