/* Qualityoutboundsponge-ironDetails.css */

/* Add margin between rows in lower card */
.quality-outbound-lower-card .field-container {
    margin-bottom: 3rem; /* Adjust margin bottom value as needed */
}

/* Define the box styles */
.form-control {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.7rem 1rem; /* Adjusted padding */
    height: 40px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-size: 14px; /* Adjusted font size */
    font-family: 'Roboto', sans-serif; /* Added font family */
    color: #333; /* Adjusted text color */
}

/* Styles for non-read-only input fields when in focus */
.form-control:not(:read-only):focus {
    color: #495057;
    background-color: #f0f9ff;
    border-color: #007bff;
    outline: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.form-control:read-only {
    background-color: #f8f9fa; /* Light gray background color */
    color: #495057; /* Text color */
    border-color: #ced4da; /* Border color */
    cursor: not-allowed; /* Change cursor to indicate read-only */
}

.form-control:read-only:hover {
    background-color: #f8f9fa; /* Same as read-only background color */
    border-color: #ced4da; /* Same as read-only border color */
    cursor: not-allowed; /* Same as read-only cursor */
}

/* Adjust the left margin of the container */
.container-wrapper {
    margin-left: 100px !important;
}

/* Main content padding */
.quality-detail-check-main-content {
    padding: 20px 140px 20px 20px;
}

/* Font weight for labels and content */
.form-label {
    font-weight: bold;
    color: #333; /* Change label color */
    font-size: 16px; /* Increase label font size */
    font-family: 'Roboto', sans-serif; /* Added font family */
}

.form-control {
    font-weight: normal;
}

/* Align labels to the left */

/* Button size */
.qt-btn {
    font-size: 1.2rem; /* Adjusted font size */
    font-family: 'Roboto', sans-serif; /* Added font family */
    margin-top: 30px;
}

/* Sidebar adjustment */
.home-sidebar.expanded + .quality-outbound-sponge-iron-detail-check-main-content {
    margin-left: 220px;
}

/* Responsive styles */
@media (max-width: 767px) {
    .form-control {
        width: 100% !important;
    }
}

/* Header margin */
.quality-outbound-header {
    margin-left: 290px !important;
    font-size: 27px; /* Increased font size */
    /* font-family: 'Roboto', sans-serif; */
    color: #333; /* Adjusted text color */
    margin-top: 40px;
}

/* Main content margin top */
.quality-outbound-sponge-iron-detail-check-main-content {
    margin-top: 40px;
}

/* Card styles */
.quality-outbound-upper-card {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow */
    background-color: #fff; /* Add background color */
    margin-left: -30px !important;
    max-height: 300px;
    width: 100%;
    
    margin-top: -48px; /* Adjusted margin-top value */
}

.quality-outbound-lower-card {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow */
    background-color: #fff; /* Add background color */
    margin-left: -30px !important;
    width: 100%;
    margin-top: -20px; /* Adjusted margin-top value */
    max-height: 200px; /* Adjust maximum height as needed */
    overflow: hidden; /* Hide content that exceeds maximum height */
}



/* Adjust margin for columns */
.col-lg-3 {
    margin-top: -80px !important;
}
