/* Add this CSS to your QualityCheck.css file */

/* Main content container */
.quality-outbound-dashboard-main-content {
    margin-left: 100px;
    margin-top: 7rem;
    transition: margin-left 0.2s ease;
  }
  
  /* Date section */
  .quality-outbound-dashboard-date {
    font-weight: bold;
  }
  
  /* Table container */
  .quality-outbound-dashboard-table-container {
    display: flex;
    justify-content: flex-end;
    overflow-x: auto; /* Always show horizontal scrollbar */
    overflow-y: hidden; /* Hide vertical scrollbar */
  }
  
  /* Table styles */
  .quality-outbound-dashboard-table {
    width: 100%;
    table-layout: fixed; /* Ensure that the table has a fixed layout */
    margin: auto;
  }
  
  .quality-outbound-dashboard-table th,
  .quality-outbound-dashboard-table td {
    white-space: nowrap; /* Prevent wrapping of table cells */
    width: auto;
  }
  
  /* Header */
  .quality-outbound-dashboard-header {
    text-align: center;
    margin-left: 250px;
  }
  
  /* Pagination container */
  .quality-outbound-dashboard-pagination-container {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    justify-content: center;
    margin-top: 1rem; /* Add margin to separate from table */
  }
  
  /* Pagination buttons */
  .pagination-buttons {
    margin: 0 5px;
  }
  
  .pagination-buttons button {
    display: inline-block;
    padding: 8px 12px; /* Adjust padding as needed */
    border: 1px solid #333; /* Darken border color */
    border-radius: 5px; /* Add border radius */
    background-color: #222; /* Darken background color */
    color: white; /* White text color */
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pagination-buttons button:hover {
    background-color: #444; /* Darken background color on hover */
  }
  
  .pagination-buttons input {
    width: 50px;
    padding: 4px 8px;
    margin: 0 5px;
    border: 1px solid #333;
    border-radius: 3px;
    text-align: center; /* Center text */
  }
  
  .pagination-buttons input:focus {
    outline: none;
  }
  
  /* Download button */
  /* Download button */
  .download-btn {
    border: none; /* Remove border */
    padding: 8px 16px; /* Add padding to increase button size */
    background-color: transparent; /* Remove background */
    cursor: pointer;
    color: green; /* Set text color to green */
    font-size: 2em; /* Set font size */
    transition: transform 0.3s ease-in-out; /* Add transition for transform */
  }
  
  .download-btn:hover {
    transform: scale(1.1); /* Scale up on hover */
    background-color: lightgreen; /* Change background color on hover */
  }
  
  
  /* Pagination container */
  .quality-outbound-dashboard-pagination-container {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    justify-content: space-between; /* Align items to the left and right */
    margin-top: 1rem; /* Add margin to separate from table */
  }
  
  /* Pagination buttons */
  .pagination-buttons {
    display: flex;
    align-items: center;
  }
  
  .pagination-buttons button {
    margin: 0 5px; /* Add margin between buttons */
    padding: 8px 12px; /* Adjust padding as needed */
    border: 1px solid #333; /* Darken border color */
    border-radius: 5px; /* Add border radius */
    background-color: #fff; /* Change background color to white */
    color: #333; /* Darken text color */
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pagination-buttons button:hover {
    background-color: #eee; /* Darken background color on hover */
  }
  
  .pagination-text {
    color: #333; /* Darken text color */
  }
  
  /* Active page button */
  .pagination-buttons button.active {
    outline: 2px solid rgb(116, 189, 241); /* Add blue outline for active page */
  }
  
  
  
  
  .home-sidebar.expanded + .quality-outbound-dashboard-main-content {
    margin-left: 220px;
    
  }

  .disabled {
    pointer-events: none; /* Disable pointer events */
    opacity: 0.5; /* Reduce opacity to indicate disabled state */
  }
  