/* sidebar.css */
.home-sidebar {
  width: 60px;
  background-color: #2c3e50;
  color: #fff;
  padding: 20px 10px;
  padding-top: 50px;
  position: fixed;
  top: 50px;
  bottom: 0;
  transition: width 0.2s ease;
  overflow: hidden;
}

.home-sidebar.expanded {
  width: 200px;
}

.rp-icon {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.sidebar-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 15px;
  height: 50px;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-decoration: none;
  background-color: white;
  position: relative; /* Add position relative to the parent */
}

.sidebar-item:hover {
  background-color: lightgray;
  transform: scale(1.05);
}

.sidebar-item-text {
  font-weight: bold;
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute; /* Position the text absolutely */
  left: 18px; /* Adjust the left position as needed */
}

.home-sidebar:not(.expanded) .sidebar-item-text {
  display: none;
}

.home-sidebar.expanded .sidebar-item-text {
  display: block;
  opacity: 1;
}

.sidebar-icon {
  font-size: 1.2rem;
  color: #000;
}

.home-sidebar:not(.expanded) + .create-main-content {
  margin-left: 80px;
}

.flip-horizontal {
  transform: scaleX(-1);
}