.paginationBtns {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.previousBtn,
.nextBtn,
.paginationLink {
  margin: 0 5px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.previousBtn:hover,
.nextBtn:hover,
.paginationLink:hover {
  background-color: #f0f0f0;
}

.paginationDisabled {
  color: #ccc;
  cursor: not-allowed;
}

.paginationActive {
  font-weight: bold;
  color: black;
  cursor: pointer;
}
