/* Report.css */

.report-header {
  position: fixed;
  width: 100%;
  background-color: rgb(51, 65, 85);
  color: white;
  z-index: 1000;
  top: 0;
  padding: 8px 20px;
  box-shadow: rgb(51, 65, 85);
}

.report-header-title {
  font-weight: 400;
  font-size: 1.5rem;
  padding: 4px 0;
}

.daily_report_icon {
  cursor: pointer;
  margin-left: auto;
}

.input-box {
  min-width: 85px; /* Adjust this value as needed */
}

.report-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  padding: 0 10px; /* Add padding to adjust content on smaller screens */
  transition: margin-left 0.2s ease; /* Add transition for smooth animation */
}

.report-container {
  padding: 30px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out; /* Add transition for smooth animation */
  width: 100%; /* Set width to 100% for better responsiveness */
  height: 100%;
}

@media (min-width: 768px) {
  .report-wrapper {
    margin-left: 210px; /* Adjust this value based on the sidebar width */
  }

  .home-sidebar:not(:hover) + .report-wrapper {
    margin-left: 65px; /* Adjust this value based on the collapsed sidebar width */
  }
}


.report-container:hover {
  transform: scale(1.02); /* Scale up the container on hover */
}

.download-btn {
  transition: transform 0.3s ease-in-out;
}

.download-btn:hover {
  transform: scale(1.1);
}

/* Add or modify styles as needed */

/* Global styles */
body {
  font-size: 16px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .report-wrapper {
    margin-top: 100px; /* Adjust margin-top for smaller screens */
  }

  .report-container {
    padding: 15px; /* Adjust padding for smaller screens */
  }

  .table-responsive {
    overflow-x: auto; /* Enable horizontal scrolling on smaller screens */
  }

  .input-box {
    min-width: 150px; /* Adjust input box width for smaller screens */
  }

  /* Add more styles as needed */
}


/* working code When the sidebar is expanded the main content elements moves */
.home-sidebar.expanded + .report-maincontent {
  margin-left: 220px;
}
/* .report-maincontent{
  margin-top: 90px;
} */

.report-maincontent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 90px;
}

.heading {
  text-align: center;
}