.weighbridge-login-page {
  display: flex;
  height: 100vh;
  position: relative;
  background-image: url("https://t3.ftcdn.net/jpg/02/18/36/62/360_F_218366238_HhmF2SMiYsunnRUsa3lgodlkkV3NBx7I.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.weighbridge-login-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.weighbridge-login-content {
  text-align: center;
  background-color: rgba(255, 255, 255);
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weighbridge-login-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #343a40;
}
.weighbridge-login-form {
  width: 100%; /* Ensure the form takes full width */
  max-width: 200px; /* Limit the form width */
}
.weighbridge-login-truck-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-bottom: 20px;
}
.weighbridge-login-input {
  width: 100%;
  max-width: 280px;
  height: 40px;
  margin-bottom: 15px;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ced4da;
}
.weighbridge-login-btn {
  width: 100%;
  max-width: 280px;
  height: 45px;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.weighbridge-login-btn:hover {
  background-color: #0056b3;
}
.weighbridge-login-forgot-password {
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
}
.weighbridge-login-forgot-password:hover {
  text-decoration: underline;
}

.weighbridge-login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weighbridge-login-form {
  width: 100%;
  max-width: 400px; /* Adjust this value as needed */
}

.Login-form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Login-form-group input,
.weighbridge-login-btn {
  width: 62%; /* Subtracting the padding from the total width */
  margin-bottom: 10px;
}

.password-input {
  display: flex;
  align-items: center;
}

.password-toggle {
  margin-right: 75px;
  margin-top: -8px ;
}

